.button-bg-default.uk-button {
    background-color: transparent;
    background-image: linear-gradient(271deg, #00d9a6 0, #9be15d 100%);
    box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, .35);
    text-shadow: 0 0 0 rgba(0, 0, 0, .3);
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px
}

.button-bg-default.uk-button:hover {
    background-color: #1a1a1a;
    background-image: linear-gradient(285deg, #0c0c0c 20%, #474747 100%);
    border: 0
}

.aux-head-highlight {
    color: #00d9a6
}

.tm-header {
    box-shadow: 0 4px 44px 0 rgba(0, 0, 0, .14)
}

#tm-main.uk-section-default {
    background-color: #fefefe !important
}

.absolute-post-next4 {
    position: relative
}

.absolute-post-next4 img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.absolute-post-next4 .uk-card {
    margin: 0 25px;
    top: -60px;
    min-height: 150px
}

.absolute-post-next4 .uk-card-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px
}

.absolute-post-next4 .uk-card-title a:hover,
.absolute-post-next4 .uk-card-title:hover,
.absolute-post-next4 .uk-card-title:hover a {
    color: #fff !important
}

.card-grid-post h3.uk-heading-medium {
    color: #202020;
    font-size: 55px;
    font-weight: 600;
    line-height: 76px;
    margin: 0 0 60px 0
}

.custom-grid-card h2 {
    color: rgba(255, 255, 255, .7) !important;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 0 5px
}

.custom-grid-card h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 49px;
    margin: 0 auto 30px
}

.custom-grid-card a.uk-button.uk-button-primary,
.custom-grid-card a.uk-button.uk-button-secondary:hover {
    background-color: transparent;
    background-image: linear-gradient(271deg, #0c0c0c 0, #474747 100%);
    box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, .35);
    text-shadow: 0 0 0 rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 700
}

.custom-grid-card a.uk-button.uk-button-primary:hover {
    background-color: #00d9a6;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(271deg, #00d9a6 0, #2ec373 100%)
}

.custom-grid-card a.uk-button.uk-button-secondary {
    background-color: #00d9a6;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(271deg, #00d9a6 0, #00d9a6 100%);
    box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, .35);
    text-shadow: 0 0 0 rgba(0, 0, 0, .3)
}

ul.uk-slider-items div.uk-cover-container {
    height: 300px !important
}

ul.uk-slider-items div.uk-cover-container h3.el-title {
    color: #00daa5;
    font-weight: 700
}

ul.uk-slider-items div.uk-cover-container.el-content {
    color: #fff;
    font-weight: 700;
    font-size: 20px
}

a.nxt-aux-button {
    color: #fff
}

.nxt-aux-button {
    padding: 18px 45px;
    background-color: transparent;
    background-image: linear-gradient(271deg, #00d9a6 0, #9be15d 100%);
    box-shadow: 6px 6px 25px 0 rgba(0, 217, 166, .35);
    text-shadow: 0 0 0 rgba(0, 0, 0, .3)
}

.nxt-aux-button:hover {
    background-color: #333;
    background-image: linear-gradient(271deg, #0c0c0c 0, #474747 100%)
}

.nxt-aux-button:hover {
    box-shadow: 6px 6px 25px 0 rgba(0, 0, 0, .35);
    color: #fff
}

.uk-section-muted.area-de-atuacao-home {
    background-color: #fff
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1600px
}

.slider.slide-track {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(250px*38)
}

.slider.slide {
    height: 100px;
    width: 250px;
    text-align: center
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-250px*19))
    }
}

.services-provided h3 {
    color: #202020
}

.services-provided.uk-card-default:hover {
    background-color: #00d9a6;
    color: #fff
}

.services-provided.uk-card-default:hover {
    transition: opacity 1.2s cubic-bezier(.165, .84, .44, 1);
    background-image: -webkit-linear-gradient(51deg, #00d9a6 0, #9be15d 100%);
    background-image: -o-linear-gradient(51deg, #00d9a6 0, #9be15d 100%);
    background-image: linear-gradient(39deg, #00d9a6 0, #9be15d 100%);
    background-repeat: repeat-x;
    border-radius: 15px
}

.services-provided.uk-card-default:hover svg {
    color: #fff
}

.services-provided.uk-card-default:hover h3 {
    color: #fff !important
}

.services-provided.uk-card-default:hover p {
    color: #fff !important
}

.group-buttons-budget {
    position: relative;
    top: 45px
}

.group-buttons-budget.uk-button-large {
    font-weight: 700 !important
}

.services-provided.uk-card-default:hover.el-image.uk-icon,
.services-provided.uk-card-default:hover.el-image.uk-icon svg {
    color: #fff;
    fill: #fff
}

.services-provided.el-image.uk-icon,
.services-provided.el-image.uk-icon svg {
    color: #00d9a6;
    fill: #00d9a6
}

.dotnav-custom ul {
    width: auto !important;
    background-color: #2e2e2e;
    border-radius: 150px;
    font-weight: 400;
    line-height: normal;
    background: #2e2e2e;
    padding: 5px;
    background: -moz-linear-gradient(271deg, #2e2e2e 1%, #5a5a5a 100%);
    background: -webkit-linear-gradient(271deg, #2e2e2e 1%, #5a5a5a 100%);
    background: linear-gradient(271deg, #2e2e2e 1%, #5a5a5a 100%);
    box-shadow: 9px 7px 20px rgba(0, 0, 0, .2);
    position: relative;
    bottom: 40px
}

.dotnav-custom.uk-dotnav>*>* {
    height: auto;
    width: auto;
    text-indent: inherit;
    padding: 10px 16px;
    color: rgba(255, 255, 255, .45);
    font-size: 20px;
    font-weight: 700;
    background: 0 0
}

.dotnav-custom li a:hover {
    background: 0 0
}

.dotnav-custom.uk-active a:hover {
    background: #00d9a6;
    background: -moz-linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    background: -webkit-linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    background: linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    transition: left.5s cubic-bezier(.77, 0, .175, 1)
}

.dotnav-custom.uk-active a {
    border-radius: 150px;
    font-size: 20px;
    font-weight: 500;
    background: #00d9a6;
    background: -moz-linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    background: -webkit-linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    background: linear-gradient(127deg, #00d9a6 0, #9be15d 100%);
    transition: left.5s cubic-bezier(.77, 0, .175, 1)
}

.uk-slideshow.uk-text-meta {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 8px;
    line-height: normal;
    background: -webkit-linear-gradient(#00d9a6, #9be15d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.uk-slideshow h3.el-title {
    font-weight: 700;
    font-size: 65px;
    letter-spacing: -3px;
    line-height: 70px;
    color: #202020
}

.uk-slideshow h3.el-title.highlight {
    color: #00d9a6
}

.custom-slide-show.uk-button-default {
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .77);
    background: #0c0c0c;
    background: -moz-linear-gradient(271deg, #0c0c0c 0, #474747 100%);
    background: -webkit-linear-gradient(271deg, #0c0c0c 0, #474747 100%);
    background: linear-gradient(271deg, #0c0c0c 0, #474747 100%);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, .17);
    font-size: 13px;
    border: transparent
}

.custom-slide-show.uk-button-default:hover {
    border-color: transparent;
    color: #fff
}

.custom-slide-show.el-title {
    position: relative
}

.title-divider {
    position: relative;
    height: 5px;
    margin: 30px auto
}

.custom-slide-show.title-divider:after,
.custom-slide-show.title-divider:before {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: -o-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: linear-gradient(to right, #9be15d 0, #00d9a6 100%);
    background-repeat: repeat-x
}

.custom-slide-show.title-divider:before {
    left: 0;
    width: 9px;
    opacity: .9
}

.custom-slide-show.title-divider:after {
    left: 15px;
    width: 48px
}

.highlight {
    color: #343
}

.parallax-about h3 {
    color: #fff;
    font-weight: 700;
    font-size: 55px;
    line-height: 76px
}

.parallax-about a.uk-button {
    text-transform: uppercase
}

.title-about {
    font-size: 46px;
    line-height: 52px;
    font-weight: 700
}

.line-before {
    position: relative;
    height: 5px;
    display: block;
    margin: 30px 0
}

.line-before:before {
    left: 0;
    width: 9px;
    opacity: .9;
    display: inline-block;
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: -o-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: linear-gradient(to right, #9be15d 0, #00d9a6 100%);
    background-repeat: repeat-x
}

.line-before:after {
    left: 15px;
    width: 48px;
    content: "";
    position: absolute;
    border-radius: 20px;
    display: inline-block;
    top: 0;
    height: 5px;
    background-image: -webkit-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: -o-linear-gradient(left, #9be15d 0, #00d9a6 100%);
    background-image: linear-gradient(to right, #9be15d 0, #00d9a6 100%);
    background-repeat: repeat-x
}

.custom-grid-next4 {
    position: relative;
    height: 100%;
    position: relative;
    padding: 40px
}

.next-grap {
    position: relative;
    display: flex
}

.child-next-grap-n1 {
    width: 49%;
    left: 0
}

.child-next-grap-n2 {
    width: 49%;
    right: 0
}

.section-slide h1,
.section-slide h2,
.section-slide.subtitle-slide h3 {
    font-weight: 700
}

.section-slide h1,
.section-slide h2 {
    line-height: 51px;
    font-weight: 600;
    font-size: 47px
}

.uk-slideshow-items.uk-position-cover {
    padding: 0 40px
}

.section-slide.subtitle-slide h3 {
    color: #053c2f;
    font-weight: 600;
    font-size: 32px
}

@media(max-width:1000px) {
    .tm-header .uk-navbar-nav li:nth-of-type(4),
    .tm-header .uk-navbar-nav li:nth-of-type(5) {
        display: none
    }
    .tm-header .uk-navbar-center:not(:only-child) {
        left: 65%
    }
    .tm-header .uk-navbar-right {
        display: none
    }
}

@media(max-width:767.98px) {
    .respicon .el-image {
        display: block;
        margin: 0 auto;
        text-align: center
    }
    .slidecases {
        display: block !important
    }
    .card-grid-post h3.uk-heading-medium {
        font-size: 35px;
        line-height: 45px
    }
    .section-sub-footer,
    .section-sub-footer h4 {
        text-align: center !important
    }
    .slide-home .uk-slideshow-items {
        height: 455px !important
    }
    .section-slide h1,
    .section-slide h2 {
        font-size: 25px;
        line-height: normal
    }
    .section-slide.subtitle-slide h3 {
        font-size: 18px
    }
    .new_slideshow.uk-container {
        padding: 0
    }
    .uk-slideshow-items.uk-position-cover {
        padding: 40px
    }
    .uk-slideshow h3.el-title {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: normal
    }
    .uk-slideshow-items.title-divider {
        display: none
    }
    .uk-slideshow-items.uk-position-cover {
        background-size: cover !important;
        color: #fff;
        font-size: 14px
    }
    .uk-slideshow.uk-text-meta {
        display: none
    }
    .uk-slideshow-items.uk-position-cover:before {
        content: "";
        display: block;
        height: 100%;
        background-color: rgba(66, 72, 69, .6);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute
    }
    .services-provided.group-buttons-budget.uk-button {
        padding: 20px;
        line-height: inherit;
        font-weight: 700
    }
}

@media(max-width:991.98px) {
    .section-slide h1,
    .section-slide h2 {
        font-size: 30px;
        line-height: normal
    }
    .section-slide.subtitle-slide h3 {
        font-size: 18px
    }
}

@media(max-width:575.98px) {
    .section-slide h1,
    .section-slide h2 {
        font-size: 25px;
        line-height: normal
    }
}

.section-sub-footer,
.section-sub-footer li a {
    color: #444
}

.section-sub-footer {
    position: relative
}

.section-sub-footer h4 {
    text-align: left;
    font-weight: 700 !important;
    color: #00d9a6
}

.section-sub-footer li a {
    font-size: 18px;
    font-weight: 300
}

.section-sub-footer li a:hover {
    color: #00d9a6
}

.section-sub-footer input[type=email],
.section-sub-footer input[type=text] {
    height: 35px;
    font-size: 14px;
    border: solid 1px #e5e5e5
}

.section-sub-footer input[type=submit] {
    height: 35px;
    font-size: 14px;
    line-height: normal;
    background-color: #00d9a6;
    color: #fff;
    font-weight: 700;
    border-color: #00d9a6
}

.section-sub-footer div.wpcf7 .ajax-loader {
    position: absolute;
    z-index: 999
}

.section-sub-footer input[type=submit]:hover {
    color: #00d9a6;
    background-color: #fff;
    border-color: #00d9a6
}

.el-section-contact h3 {
    color: #444;
    font-size: 55px;
    font-weight: 600;
    line-height: 76px;
    margin: 0
}

.el-section-contact.section-contact-subtitle {
    font-size: 23px;
    font-weight: 300
}

.el-section-contact input[type=email],
.el-section-contact input[type=text],
select {
    color: #000 !important;
    background-color: #efefef !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important
}

.el-section-contact textarea {
    height: 120px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000;
    background-color: #efefef
}

.el-section-contact input[type=submit] {
    color: #00d9a6;
    border-color: #00d9a6;
    border-width: 2px;
    font-weight: 700;
    font-size: 15px
}

.el-section-contact h4 {
    color: #00d9a6;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 0
}

.el-section-contact.text-modal-contact {
    color: #00d9a6
}

.el-section-contact.text-modal-contact:hover {
    color: #a1a1a1
}

.ident-element {
    margin-left: 62px
}

h4 .title-custom-blog {
    color: #333;
    font-weight: 700
}

.custom-blog-next4 .uk-button {
    color: #fff;
    background-color: #00d9a6;
    border: 0;
    margin-top: 15px
}

.custom-blog-next4 div.uk-margin-medium-top {
    margin: 10px auto 10px auto !important
}

.custom-blog-next4 .uk-button:hover {
    background: #3d3d3d;
    color: #fff
}

.button_whatsapp a {
    position: fixed;
    background-color: #04c699;
    color: #fff;
    right: 5px;
    z-index: 999999999;
    bottom: 5px;
    padding: 10px 20px;
    display: inline-block;
    border: solid 2px #09be93;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: -5px-3px 9px 0 rgba(85, 85, 85, .25)
}

.button_whatsapp a:hover {
    border-color: #04c699;
    color: #04c699;
    background-color: #fff
}

.slide-home .uk-position-cover {
    background-size: cover !important
}

.slidecases {
    display: none
}

.slidecases .uk-slider-items .uk-cover-container {
    height: auto !important
}

.slidecases .uk-position-center {
    position: initial !important;
    transform: initial;
    top: initial;
    left: initial;
    width: 100%
}

.slidecases .uk-position-center .uk-width-medium {
    width: 100%
}

.slidecases .el-item {
    height: 768px
}

.slidecases .el-content {
    text-align: left
}